<% provide(:title,'Help') %>
<h1>これの使い方</h1>
<p>
  <a href="http://akikiyo.com">あききよ.COM</a>のコンタクト用じゃけん。発言したことはあききよにも届くし、全員の発言が見れるけん。僕の友達がここで繋がると楽しい。Facebookアカウントでログインするか、ニックネームを登録して使ってください。ユーザーの一覧とかも見れるよ。
</p>
  