<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "あききよに何か書いてね..." %>
  </div>
  <%= f.submit "コメントする", class: "btn btn-large btn-primary" %>
<% end %>